::root{
  --darkBlueText: hsl(238, 29%, 16%);
  --softRedText: hsl(14, 88%, 65%);

  --gradientSoftViolet: hsl(273, 75%, 66%);
  --gradientSoftBlue: hsl(240, 73%, 65%);

  --dividers: hsl(240, 5%, 91%);
  --fontSize: 12px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to top, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    position: relative;
    min-height: 100vh;
}
.container{
    margin: 9rem 2rem 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image .mainImage{
    position: absolute;
    top: -5rem;
    left: 5rem;
}
.image .shadowImage{
    position: absolute;
    top: -1.2rem;
    left: 5rem;
}
.image .mainImage{
    width: 190px;
    height: 140px;
}
.image .shadowImage{
    width: 210px;
    height: 100px;
}
.faq-container{
    background: white;
    border-radius: 23px;
    padding: 9rem 2rem 2rem 2rem;
}
.faq-container h1{
    font-size: 25px;
    font-weight: 400;
    color: rgb(56, 56, 56);
    text-align: center;
    padding-bottom: 2rem;
}
.faq h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(136, 136, 136);
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
.faq p{
    font-size: 12px;
    color: grey;
    margin: 1rem 0 2rem 0;
}

.hrLine{
    height: 1px;
    background: rgb(224, 224, 224);
    margin-bottom: 2rem;
}
.itemImg{
    width: 10px;
    height: 8px;
}

p{
    display: none;
}
.block.active p{
    display: block;
}
.item{
    display: flex;
    justify-content: space-between;
}
@media only screen and (min-width: 500px) {
    .faq-container{
    min-width: 400px;
}
    .image .mainImage{
    position: absolute;
    top: 4.2rem;
    left: 7rem;
}
.image .shadowImage{
    position: absolute;
    top: 7.3rem;
    left: 7rem;
}
}


@media only screen and (min-width: 600px) {
    .faq-container{
        min-width: 450px;
    }
    .image .mainImage{
    position: absolute;
    top: -4.2rem;
    left: 12rem;
}
.image .shadowImage{
    position: absolute;
    top: .3rem;
    left: 12rem;
}
}
@media only screen and (min-width: 700px) {
    .faq-container{
        min-width: 500px;
    }
    .image .mainImage{
    position: absolute;
    top: -4.6rem;
    left: 33rem;
}
.image .shadowImage{
    position: absolute;
    top: -.3rem;
    left: 33rem;
}
}